<dl class="form">
  <dt><label for="campaign_name">Name</label></dt>
  <dd><%= text_control :name %></dd>
</dl>
<dl class="form">
  <dt><label for="campaign_description">Description</label></dt>
  <dd><%= text_area_control :description %></dd>
</dl>
<dl class="form">
  <dt><label for="campaign_link">Link</label></dt>
  <dd><%= text_control :link %></dd>
</dl>
<dl class="form">
  <dt><label for="campaign_uploaded_data">Image</label></dt>
  <dd><%= file_control :uploaded_data %></dd>
</dl>
<dl class="form">
  <dt><label for="campaign_spot">For Spot</label></dt>
  <dd><%= select_control :spot_id, :collection => @site.spots, :text_method => :name, :value_method => :id, :selected => control_value(:spot_id).to_i %></dd>
</dl>
<dl class="form">
  <dt><label>Duration</label></dt>
  <dd>
    <input type="text" class="datepicker" update_field="campaign_starts_on" update_text="starts_on_text" /> <input type="text" class="datepicker" update_field="campaign_ends_on" update_text="ends_on_text" />
    <p class="dateresults"><strong>Start:</strong> <span id="starts_on_text" class="invalid">N/A</span> <strong>End:</strong> <span id="ends_on_text" class="invalid">N/A</span></p>
    <input type="hidden" name="campaign[starts_on]" id="campaign_starts_on" value="<%= (control_value(:starts_on).empty? ? Date.today : control_value(:starts_on)).to_date.to_formatted_s(:general) %>" />
    <input type="hidden" name="campaign[ends_on]" id="campaign_ends_on" value="<%= (control_value(:ends_on).empty? ? Date.today : control_value(:ends_on)).to_date.to_formatted_s(:general) %>" />
  </dd>
</dl>