<h1>Campaigns for <em><%=h @site.name %></em></h1>
<p class="stats">This site has <%= @site.spots.count %> spots with <%= @site.campaigns_allowed %> campaigns slots.</p>

<% if @site.spots.empty? %>
  <p>You haven&rsquo;t defined any advertising spots for this site yet. You can manage the spots available in the sites section or by <%= link_to 'visiting this page', url(:controller => "sites", :action => "edit", :id => @site.id) %>.</p>
<% else %>
  <% for spot in @site.spots %>
    <h2>Right now in spot: <em><%=h spot.name %></em></h2>
    <ul class="spots">
      <% for index in 1..spot.campaign_limit%>
        <li>
          <%= partial :campaign_slot, :slot_number => index, :spot => spot %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% form_for :campaign, :multipart => true do %>
    <div class="form">
      <h2>Add a campaign</h2>
      <%= error_messages_for @campaign %>
      <%= partial :form %>
      <div class="actions"><%= submit_button "Add Campaign" %></div>
    </div>
  <% end %>
<% end %>

<% throw_content :sidebar do %>
  <h3>Manage another site</h3>
  <%= select_field :collection => @sites, :text_method => :name, :value_method => :id, :prompt => "Chose a site", :id => "site_selector" %>
<% end %>